<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add connectionString="Server=Srv-DevWeb-01\ToFlex04;Database=EAVLibrary;Integrated Security=true" name="SiteSqlServer" providerName="System.Data.SqlClient" />-->
    <!--		<add name="EavContext" connectionString="metadata=res://*/Persistence.EavContext.csdl|res://*/Persistence.EavContext.ssdl|res://*/Persistence.EavContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=Srv-DevWeb-01\ToFlex04;Initial Catalog=EAVLibrary;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EavContext" connectionString="metadata=res://*/Persistence.EavContext.csdl|res://*/Persistence.EavContext.ssdl|res://*/Persistence.EavContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=\\.\pipe\AEB0A7A9-D054-4E\tsql\query;Initial Catalog=C:\PROJECTS\WEBMATRIX\DNN DEV 740A\APP_DATA\DATABASE.MDF;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
-->
    <add name="EavContext" connectionString="metadata=res://*/Persistence.EavContext.csdl|res://*/Persistence.EavContext.ssdl|res://*/Persistence.EavContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SqlExpress;Initial Catalog=EAVLibrary;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>